<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <nav>
        <a href="/blog">View all blog entries</a> |
        <a href="/newpost">Add new blog entry</a> 
       
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
        {% for category, message in messages%}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
    </ul>

    {% endwith %}
    
    {% block content %}
    {% endblock %}

</body>
</html>